.article__text {
    font-size: 14.4px;
    line-height: 18px;
}

.article__text:not(:last-child) {
    padding-bottom: 16px;
}

@media (min-width: 768px) {
    .article__text {
        line-height: 20px;
    }

    .article__text:not(:last-child) {
        padding-bottom: 20px;
    }
}
