@import url("header__start.css");
@import url("header__line.css");
@import url("header__logo.css");

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 16px 14px;
    border-bottom: 1px solid #d9fff5;
    background-color: white;
}

@media (min-width: 768px) {
    .header {
        padding-inline: 24px;
    }
}

@media (min-width: 1120px) {
    .header {
        position: absolute;
        z-index: 10;
        top: 42px;
        right: 31px;
        background-color: transparent;
        border-bottom: none;
        padding: 0;
    }
}
