.logo {
    position: relative;
}

.logo:focus-visible {
    outline: none;
}

.header__logo:focus-visible path {
    stroke: #b8ffec;
    stroke-width: 2px;
}
 
.header__logo:active path {
    fill: #24292c;
}
 