.main-title {
    position: relative;
    padding-left: 16px;
    font-weight: 700;
    font-size: 1.68em;
    line-height: 40px;
}

.main-title::before {
    content: '';
    position: absolute;
    top: 1.4px;
    left: 0;
    height: 40px;
    width: 4px;
    border-radius: 0 10px 10px 0;
    background-color:  #41F6D7;
}

@media (min-width: 768px) {
    .main-title {
        padding-left: 24px;
    }
}

@media (min-width: 1120px) {
    .main-title {
        padding-left: 33px;
    }

    .main-title::before {   
        width: 3px;
    }
}
